nav {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: var(--paper);
  box-shadow: 2px 2px 8px rgba(128, 16, 16, 0.5);
}

#folder-selector {
  background: #eea200;
}

.gallery {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}

.gallery:hover {
  background-color: #ffffff;
  color: #eea200;
  padding: 24px 10px;
}
